body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  align-items: center;
  height: 72px;
  background: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
  gap: 50%;
}

.header {
  padding: 0 16px;
  justify-content: center
}

.footer {
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 16px;
}

.hero {
    background: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 10vw
}

.hero-text {
    max-width: 450px;
}

.hero-text .main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text .secondary {
    font-size: 18px;
    margin: 12px 0;
}

.hero-text button {
    background: #3882F6;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    color: #E5E7EB;
    padding: 5px 32px;
}

.hero img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: 100% 75%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 100px 100px;
    color: #1F2937;
}

.info h1 {
    font-size: 36px;
    font-weight: 900;
    padding: 20px 0;
}

.info-items {
    display: flex;
    text-align: center;
    gap: 20px;
}

.info-items img {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.item-1,
.item-2,
.item-3,
.item-4 {
    width: 200px;
}

.quote {
    background: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

.quote .quote-text {
    font-size: 36px;
    font-weight: 300;
    width: 50vw;
}

.quote .quote-name {
    font-size: 24px;
    font-weight: 900;
    align-self: end;
    width: 40vw;
}

.call-to-action {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-background {
    background: #3882F6;
    width: 75vw;
    height: 200px;
    border-radius: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cta-text h1 {
    font-size: 24px;
}

.cta-text p {
    font-size: 18px;
}

.cta-background button {
    background: #3882F6;
    font-size: 18px;
    border: 2px solid #E5E7EB;
    border-radius: 6px;
    color: #F9FAF8;
    padding: 5px 32px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}